<h1>Compose Email</h1>

<%= render 'form' %>

<br />

<%= link_to 'Add Account', {controller: :account, action: :new} %> | <%= link_to 'Logout', {controller: :session, action: :logout} %> | <%= link_to 'Back', :back %>
